/* select DataTable cells which are in the leftmost column and colour them as links */
.react-grid-Cell[style*="left: 0px;"] {
    cursor: pointer;
    color: #1EAEDB;
    text-decoration: underline;
}

.react-grid-Main{
    height: 800px;
}

.react-grid-Container{
    height: 100%;
}

.react-grid-Grid{
    height: 100% !important;
}

.react-grid-Canvas{
    height: 100% !important;
}

.index-grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 90% 10%;
}

.index-grid-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}

.index-grid-right {
    grid-column-start: 2;
    grid-row-start: 1;
}

body {
    margin: 0px;
}



/* reverse bootstrap making data table search hints bold*/
input {
    line-height: normal;
    font: initial;
}

/* reverse bootstrap removing all padding from debug page tables*/
th, td {
    padding: 12px 15px;
}